#footer {
    background-color:#B56576;
    color:white;
    padding: 20px 0px 20px 20px;
}

h1 {
   font-size:80px;
   font-family:arial;
   border: 1px solid blue;
}

#title {
    font-weight:bold;
}