#footer {
    background-color:#B56576;
    color:white;
    padding: 20px 0px 20px 20px;
}

h1 {
   font-size:80px;
   font-family:arial;
   border: 1px solid blue;
}

#title {
    font-weight:bold;
}

#headshot {
    width:100%;
    border:3px solid black;
    padding:0px;
    margin:0px;
    border-radius: 1000px;
}

#headshot2 {
    width:300px;
    height:300px;
    border:3px solid black;
    padding:0px;
    border-radius: 1000px;
    background-image:url(331111-5d4047f865b00.jpg);
}