#footer {
    background-color:#B56576;
    color:white;
    padding: 20px 0px 20px 20px;
}

h1 {
   font-size:80px;
   font-family:arial;
}

#title {
    font-weight:bold;
}

#topper {
    background-color:#4A6D7C;
}

#headshot {
    border-radius: 500px;
    width:100%;
    margin:20px 0px 20px 20px;
}

#button {
    background-color:#E56B6F;
    border:0px;
    padding:10px 30px 10px 30px;
    border-radius: 10px;
    text-transform:uppercase;
    margin:10px;
}

#button a {
    color:white;
    text-decoration: none;
}