/*
MY COLOR PALETTE
Color 1 - #HEX
Color 2 - #HEX
Color 3 - #HEX
Color 4 - #HEX
Color 5 - #HEX
*/

body {
    background-color: ;
    text-align:center;
}

div {
    width: 300px;
    height: 300px;
    text-align:center;
    font-size:44px;
    font-family: 'Courgette', cursive;
    color: ;
}