body {
    background-color:#4A6D7C;
    text-align:center;
}

button {
    background-color:#E56B6F;
    color:white;
    font-family: 'open sans', sans-serif;
    width:185px;
    padding:10px;
    margin-top:60px;
    border-radius: 8px;
    border:none;
    font-size:16px;
    text-transform:lowercase;
}

button:hover {
    background-color:#B56576;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-weight:lighter;
    color:#C6C5B9;
}

h2 {
    font-family: 'open sans', sans-serif;
    font-weight:normal;
        color:#C6C5B9;

}