body {
    background-color:#4A6D7C;
    text-align:center;
}

button {
    background-color:#E56B6F;
    font-family: 'open sans', sans-serif;
    width:185px;
    padding:10px;
    margin-top:60px;
    border-radius: 8px;
    border:none;
    font-size:12px;
    color: #FFFFFF;
    text-transform:uppercase;
}

button:hover {
    background-color:#B56576;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-weight:lighter;
    color:#C6C5B9;
    font-size:44px;
}

h2 {
    font-family: 'open sans', sans-serif;
    font-weight:normal;
    color:#C6C5B9;

}

footer {
    font-size:10px;
    color:#ffffff;
    font-family: 'open sans', sans-serif;
    position:absolute;
    left:75%;
    top:94%;
}

#box {
    width:50%;
    border: 3px solid white;
    font-size:16px;
    margin:auto;
    position: relative;
}